header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #4661ff;
    font-size: 14pt;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd{
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

textarea {
    width: 20%;
    height: 50px;
    text-align: left;
}

#addres {
    font-size: 14pt;
}